#canvas {
    padding: 20px;
    margin-top: 20px;
    height: 100%;
    width: 600%;
    background-color: rgb(80, 219, 219);
    border: 1px solid black;
  }
  #task-list {
    margin-top: 10px;
  }
  .highlight {
    border: 2px solid red;
  }